Source: libpam-radius-auth
Maintainer: Network RADIUS SARL <info@networkradius.com>
Uploaders: Network RADIUS SARL <info@networkradius.com>
Section: admin
Priority: optional
Standards-Version: 4.5.1
Build-Depends:
 debhelper-compat (= 12),
 libpam0g-dev | libpam-dev,
Rules-Requires-Root: no
Homepage: https://www.freeradius.org/pam_radius_auth/
Vcs-Browser: https://github.com/FreeRADIUS/pam_radius/
Vcs-Git: https://github.com/FreeRADIUS/pam_radius.git

Package: libpam-radius-auth
Architecture: any
Depends:
 ${misc:Depends},
 ${shlibs:Depends},
Suggests:
 radius-server,
Description: PAM RADIUS authentication module
 This is the PAM to RADIUS authentication module. It allows any PAM-capable
 machine to become a RADIUS client for authentication and accounting
 requests. You will, however, need to supply your own RADIUS server to
 perform the actual authentication
